body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  
  }
 
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  #response {
    margin-top: 16px;
    color: #333;
    font-weight: bold;
  
}





.skill-bar {
  margin-bottom: 20px;
}

.skill-name {
  font-weight: bold;
  margin-bottom: 8px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 4px;
  transition: width 0.5s ease-in-out;
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

img {
  width: 100%;
}

.fade {
  animation: fade 1.5s ease-in-out infinite;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
}


.social-icons a i {
  color: white;
  font-size: 24px; /* Adjust the size based on your preference */
  margin: 0 10px;
  text-decoration: none;
  margin-left: 8px;
  height: 30px ;
  width: 30px;

}


.card {
  background-color:black;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: blue;
}
h3, p {
  color: #fff; /* Setting white font color for heading and paragraph */

}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
}

.email, .phone {
  margin-top: 20px;
}


#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#whatsapp-button i {
    margin-right: 5px;
}